@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


body::-webkit-scrollbar {
    width: 12px;             
    background-color: #f0f0f0;  
}

body::-webkit-scrollbar-thumb {
    background-color: #888;         
    border-radius: 10px;            
    border: 3px solid #f0f0f0;      
}


body::-webkit-scrollbar-thumb:hover {
    background-color: #555;        
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}



.main-side {
    width: 25%;
    min-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 650px;
}

.side-card-header {
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #0073e6;
}

.side-card-body p {
    font-weight: 500;
    margin: 10px 0 5px;
    color: #555;
}

.side-card-body input[type="search"],
.side-card-body input[type="button"],
.side-card-body input[type="submit"] {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}


.side-card-body select {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    
}

.side-card-body input[type="button"],
.side-card-body input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.side-card-body input[type="button"]:hover,
.side-card-body input[type="submit"]:hover {
    background-color: #005bb5;
}

.main-container {
    width: 70%;
    min-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-container header h1 {
    font-size: 2em;
    color: #0073e6;
}

.main-container header p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.main-container header ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
}

.main-container header ul li {
    font-size: 1em;
    margin-bottom: 10px;
}

.main-container a {
    color: #0073e6;
    text-decoration: none;
    font-weight: 500;
}

.main-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 10px;
    }

    .main-side, .main-container {
        width: 100%;
    }
}


.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #0073e6; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.pagination a:hover {
    color: #0056b3;
    cursor: pointer;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.card p {
    color: #666;
}

.card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.view-link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
}

.view-link:hover {
    color: #0056b3;
    cursor: pointer;
}

.no-record-response {
    text-align: center;
    color: #666;
    font-size: 1.2rem;
    margin-top: 2rem;
}

@media (min-width: 480px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); 
    }
}
